.App{
    min-height: 100vh;
}

.search-form{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar{
    width: 50%;
    outline: 0;
    border-width: 0 0 2px;
    border-color: green;
    padding: 10px;
}

.search-button{
    background: green;
    border: none; 
    padding: 10px 20px;
    color: white;
}

.recipes{
    display:flex;
    justify-content: wrap-around;
    flex-wrap: wrap;
}